*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font:15px 'Open Sans', sans-serif;
}


header{
  height: 50px;
  width: 100%;
  background-color: #b6b8d1;
  text-align: center;
}


img{
  max-height:  100px;
  max-width: 100px;
  margin-right: 100px;
}

a:hover{
	text-decoration:none;
}

nav{
	display: inline-block;
  width: 70%;
	margin: 0 auto;
  /* position: relative; */
}

nav a{
	display:inline-block;
	padding: 18px 25px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	line-height: 1;
	background-color: transparent;

}


/* sfondo attivo imp colore */

nav.home .home,
nav.pages .pages,
nav.courses .courses,
nav.features .features,
nav.blog .blog,
nav.shop .shop {
  background-color: #b6b8d1;
}

input{
  height: 30px;
  width: 120px;
  padding-left: 12px;
  border: none;
}

nav i{
  /* position: absolute; */
  border: none;

}

/* parte jumbotron
inizio main -------------------------- */
main{
  height: 500px;
  background-color:#b6b8d1;
}



.jumbotron {
  display: flex;

}

/* layout importante-------------------------------- */
.textjumbo{
  margin: auto;
  width: 70%;
  padding-left: 40px;
  padding-top: 100px;

}

.blu {
  background-color: #22ad96;
  border-radius: 3px;
  padding: 7px 14px;
  text-align: center;
  color: white;
  border: 2px solid  #22ad96;
}

/* DA DOMANDARE  */
.image-big{
}




































/* footer */
.container-footer{
  display: flex;
}
