*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* parte intro */



.introNav {
  position: relative;
  width: 60%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}





.blu {
  background-color: #fe775a;
  border-radius: 3px;
  padding: 7px 14px;
  text-align: center;
  color: white;
  border: 2px solid #fe775a;
}

.orange:hover {
  background-color: white;
  color: #fe775a;
}


.introNav::after {
  content: "";
  display: table;
  clear: both;
}


a {
  text-decoration: none;
  color: #33475b;
}

a:hover {
  color: #fe775a;
}


#white{
  background-color: white;
}

.ulNavLeft {
  float: left;
  width: calc(100% / 2);
  padding: 9px 0px;

}

#paddingNav {
  padding: calc(30px / 2) 0px;
}

.ulNavRight {
  color: #00a4bf;
  float: left;
  width: calc(100% / 2);
  text-align: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 2%;
}


/* fine intro */



/* inizio parte jumbotron */



main::after{
  content: "";
  display: table;
  clear: both;
}

.jumbotron {
  height: 680px;
  background-image: url("jumbotron.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.textjumbo{
  position: relative;
  width: 60%;
  margin: auto;
  top: 25%;
  transform: translateY(-50%);

}
