*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font:15px 'Open Sans', sans-serif;
}


header{
  height: 50px;
  width: 100%;
  background-color: #b6b8d1;
  text-align: center;
}


nav > img{
  max-height:  100px;
  max-width: 100px;
  margin-right: 100px;
}

a:hover{
	text-decoration:none;
}

nav{
	display: inline-block;
  width: 70%;
	margin: 0 auto;
  /* position: relative; */
}

nav a{
	display:inline-block;
	padding: 18px 25px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	line-height: 1;
	background-color: transparent;

}


/* sfondo attivo imp colore */

nav.home .home,
nav.pages .pages,
nav.courses .courses,
nav.features .features,
nav.blog .blog,
nav.shop .shop {
  background-color: #b6b8d1;
}

input{
  height: 30px;
  width: 120px;
  padding-left: 12px;
  border: none;
}

nav i{
  /* position: absolute; */
  border: none;

}

/* parte jumbotron
inizio main -------------------------- */
main{
}



.jumbotron {
  display: flex;
  background-color:#b6b8d1;


}

/* layout importante-------------------------------- */
.textjumbo{
  margin: auto;
  width: 70%;
  padding-left: 40px;
  padding-top: 100px;

}

.blu {
  background-color: #22ad96;
  border-radius: 3px;
  padding: 7px 14px;
  text-align: center;
  color: white;
  border: 2px solid  #22ad96;
}

/* DA DOMANDARE  */
.image-big{
}

 /* section build your dream  */


.text-build-dream{
   text-align: center;
   padding-top: 70px;
 }

.text-build-dream > p {
  font-size: 12px;
  padding-bottom: 15px;

}

.title-type {
  font-size: 32px;
  color: #513e5e
}

.word-type{
  font-size: 32px;
  color: #01afc8;
}


.container-text{
  width: 70%;
  margin:auto;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

.photo-text{
  padding: 5px 20px;
}

.photo-text > h4{
  padding-top: 20px;
}

.photo-text > img{
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.photo-text > p{
  font-size: 10px;
}

/* ------------- aggiungere freccia----------------- */




/* section career perspective */


.container-career{
  display: flex;
  width: 70%;
  margin: auto;
  padding-bottom: 150px;
  padding-top: 50px;

}

.left-position{
  width: 500px;
  background-image: url('../img/underlay-shape-lilla.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.left-position > img{
 height: 400px;
}


.image-left{
  position: absolute;
  top: -100px;
  left: 100px;
}

.right-position{
  padding-left: 300px;

}

.white {
  width: 400px;
  background-color: grey;
  border-radius: 3px;
  padding: 7px 14px;
  text-align: center;
  color: black;
  border: 2px solid  white;
}


/* section right da copletare */


/* SECTION BIG NUMBER */
.big-number{
  display: flex;
  background-color: #f0efef;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.box{
  width: 70%;
  margin:auto;
  text-align: center;
  margin: 5px 0px;
}

.box > h1{
  color: #22ad96;
  font-weight: 900;
}

.box > p{
  color: black;
  font-size: 12px;
}


/* section latest featured */

.container-latest{
  width: 70%;
  margin:auto;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.container-latest-bis{
  width: 70%;
  margin:auto;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-bottom: 60px;

}

.latest-pic{
  padding-right: 18px;
}

.latest-pic > img{
  max-width: 250px;
}

.latest-pic > p, span{
  padding-left: 12px;
}

.under-pc{
  padding:12px 12px;

}

.under-pc > img{
  border-radius: 100%
}

.under-pc > span{
  padding-top: 15px;
}

.button-latest{
  text-align: center;
  padding-bottom: 5px;
}





/* section register */

.container-register{
  display: flex;
  width: 70%;
  margin: auto;
  padding-top: 200px;
  position:relative;

}

.text-build-register{
  padding-left: 100px;

}

.text-build-register > p{
  padding-bottom: 15px;

}
.text-build-register > span{
  padding: 12px 0;

}

.list{
  padding: 8px 0;

  }

.text-build-register > button{
    margin: 6px 0;
  }
/* image register--------------------- */
.container-1{
  padding-left: 80px;
  padding-top: 120px;
}

.section-image-register-1{
  width: 300px;
  height: 300px;
  background-image: url('../img/underlay-shape-grey.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.re-image-big{
  width: 300px;
  position: absolute;
  top: -80px;
  right: -50px;
}

.re-icon{
  width: 100px;
  position: absolute;
  top: 120px;
  right: -120px;
}

/* section learn mobile */

.container-mobile{
  width: 70%;
  margin: auto;
  padding-top: 150px;
  position:relative;
  padding-left: 80px;
}

.section-image-mobile{
  width: 300px;
  height: 300px;
  background-image: url('../img/underlay-shape-grey.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.re-mobile-big{
  position: absolute;
  width: 250px;
  top: -60px;
  left: 80px;
  background-size: cover;
}

.re-icon-mobile-left{
  position: absolute;
  top: 90px;
  left: -100px;
}

.re-icon-mobile-right{
  position: absolute;
   top: 80px;
   left: 260px;
}

/* inizio section right */

.text-mobile-learn{
  position: absolute;
  top: 3180px;
  right: 250px;
}

.m-text{
  font-size: 10px;

}

/* section contact */

.line-box-contest{
  display: flex;
  width: 70%;
  margin: auto;
  margin-left: 280px;

}

.background-box{
  width: 400px;
  height: 150px;
  background-color: #f0efef;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 18px;
  margin-bottom: 30px;
}
.left-box-back{
  padding-left: 15px;
  padding-top: 18px;

}

.left-box-back >i {
  color: #96a6a5;
}

.box-1{
  font-size: 10px;
  color: #96a6a5;

}

.box-2{
  font-weight: 700;
}

.right-box-back{
  text-align: center;
  padding-right: 15px;
  padding-top: 7px;
}

.box-3{
  color: #22ad96;
  font-size: 32px;
}

.box-4{
  font-size: 16px;
  padding-bottom: 6px;
}

.box-button{
  background-color: #22ad96;
  border-radius: 3px;
  padding: 7px 14px;
  text-align: center;
  color: white;
  border: 2px solid  #22ad96;
}

.text-build-contact{
   text-align: center;
   padding-top: 70px;
   padding-bottom: 50px;
 }

.text-build-contact > p {
  font-size: 12px;
  padding-bottom: 15px;

}

/* chiusura di section */

.close-section{
  text-align: center;
  margin-top: 30px;
}

.close-1{
  color: #96a6a5;
}

.close-2{
  color:#22ad96;
  padding: 0;
  font-weight: 700;

}

.close-section > i{
  color:#22ad96;
}

/* love section */




















/* footer */
footer{
  width: 70%;
  margin: auto;

}

.container-footer{
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 150px;

}

h2, p {
  padding-top: 10px;

}

.container-footer p, a{
  color: #96a6a5;
  font-size: 12px;
}


.icon{
  display: inline-block;
  padding-top:  15px;
  padding-right: 30px;

}

.icon i{
  font-size: 18px;
}

.explore{
  padding-left: 150px;

}

.explore a {
  display: flex;
  width: 200px;
}

.text-ex > a {
  margin-top: 10px;
}

.information {
  padding-left: 20px;

}

.information a {
  display: flex;
  width: 200px;
}

.text-info > a {
  margin-top: 10px;
  list-style-type: none;
}

.container-footer a{
  text-decoration: none;
}

.button-up i{
  position: fixed;
  bottom: 10px;
  right: 18px;
  width: 40px;
  height: 40px;
  background-color: #22ad96;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.button-up:hover {
  cursor: pointer;
}
