<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/> -->
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Modern Schooling</title>
  </head>
  <body>

    <div id="app">

      <header>

        <!-- navbar +  input + immagine logo -->
        <nav :class="active">

           <img :src="imageLogo" alt="">
           <a href="#" class="home" v-on:click="makeActive('home')">Home</a>
           <a href="#" class="pages" v-on:click="makeActive('pages')">Pages</a>
           <a href="#" class="courses" v-on:click="makeActive('courses')">Courses</a>
           <a href="#" class="features" v-on:click="makeActive('features')">Features</a>
           <a href="#" class="blog" v-on:click="makeActive('blog')">Blog</a>
           <a href="#" class="shop" v-on:click="makeActive('shop')">Shop</a>

           <input type="text" name="" value="" placeholder="Search...">
           <i class="fas fa-search"></i>


        </nav>

      </header>



      <main>

        <!-- inizio parte di jumbotron -->
        <div class="jumbotron">


           <div class="textjumbo">

             <h1>Complete Your <br> Dreams in JavaS <br> Programming </h1>
             <br>
             <p>Learn any coding progrm in distance and for a  <br> reasonable fee. You don't have to struggle alone,<br>you've got our assistance and help</p>
             <br>
             <button class="blu">Donwload free E-book</button>

           </div>
           <div class="image-big">


           </div>

        </div>

        <!-- section build your dream -->
        <section>
          <div class="text-build-dream">

            <p>START LEARNING CODING LANGUAGES</p>
            <span class="title-type">Build Your Dream</span><span class="word-type">TODAY</span>

          </div>

          <div class="container-text">

            <div class="photo-text">
              <img src="img/home-5-image-box-01.png" alt="">
              <h4>Idea Discussion</h4>
              <p>Get teamed with the specialists <br> who work and teach coding for years <br> at famous universities.</p>
              <p>Start now</p>
            </div>

            <div class="photo-text">
              <img src="img/home-5-image-box-02.png" alt="">
              <h4>Web Development</h4>
              <p>Learn to start building a webpage from <br> scratch. You decide your own pace, <br> course and speed.</p>
              <p>Start now</p>
            </div>

            <div class="photo-text">
              <img src="img/home-5-image-box-03.png" alt="">
              <h4>System Administration </h4>
              <p>Learners are encouraged to study the <br> mechanism and structure of system <br> administration.</p>
              <p>Start now</p>
            </div>

            <div class="photo-text">
              <img src="img/home-5-image-box-04.png" alt="">
              <h4>Graphic Design</h4>
              <p>Have a passion for graphics and arts?<br> show you talents with confidence and<br> self-assertiveness.</p>
              <p>Start now</p>
              <!-- <i class="fas fa-arrow-right"></i> -->
            </div>


          </div>


        </section>

        <!-- section career perspective -->
        <section>

          <div class="container-career">

            <div class="left-position">

              <img class="image-left" src="img/about-us-03-image-01.png" alt="">

            </div>

            <div class="right-position">
              <span>DREAM WITH</span>
              <span>MAX COACH</span>
              <span>Construct A</span><span>Stunning</span>
              <br>
              <span>Career Perspective</span>
              <br>
              <button class="blu" type="button" name="button">Multiple Platforms Supported For Teaching & studying</button>
              <div class="dropdown">

                <p>MaxCoach supports the act of teaching and learning on multiple <br>
                platforms like online or offline via material downloads. We know things<br>
                aren't supposed to be devoured in a short time, you can always access <br>
                our knowlegde base from any device</p>


              </div>
              <button class="white" type="button" name="button">Multiple Course Partecipation at the Same Time</button>
              <br>
              <button class="white" type="button" name="button">Track Study Progress & Deliver Prompt Feedback</button>
            </div>


          </div>

        </section>

        <!-- section big number -->
        <section>
          <div class="big-number">

            <div class="box">
              <h1>1.926</h1>
              <p>FINISHED SESSIONS</p>
            </div>
            <div class="box">
              <h1>3.092</h1>
              <p>ENROLLED LEARNES</p>
            </div>
            <div class="box">
              <h1>200</h1>
              <p>ONLINE INSTRUCTORS</p>
            </div>
            <div class="box">
              <h1>100%</h1>
              <p>SATISFACTION RATE</p>
            </div>

          </div>
        </section>

        <!-- section latest featured -->
        <section>
          <div class="text-build-dream">

            <p>CHOOSE WHERE YOU'D LIKE TO BEGIN</p>
            <span class="title-type">Latest Featured</span><span class="word-type">Courses</span>

          </div>

          <div class="container-latest">

            <div class="latest-pic">
              <img src="img/course-02-480x298.jpg" alt="">
              <div class="under-pc">

                <img src="img/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                <span>Blanche Fields</span>

              </div>
              <p>Learning to write as a <br> Professional Author</p>
              <span>20 Lessons</span>
              <span>50 Students</span>


            </div>

            <div class="latest-pic">
              <img src="img/stock-full-hd-03-480x298.jpg" alt="">
              <div class="under-pc">
                <img src="img/d0d504142acfde820eef2f11feea6253.jpeg" alt="">
                <span>Meggie Strickland</span>
                <p>Customer -centric Info.tech <br> Strategies</p>
                <span>24 Lessons</span>
                <span>759 Students</span>
              </div>




            </div>

            <div class="latest-pic">
              <img src="img/stock-full-hd-04-480x298.jpg" alt="">
              <div class="under-pc">
                <img src="img/d0d504142acfde820eef2f11feea6253.jpeg" alt="">
                <span>Meggie Strickland</span>
                <p>Open ProgrammingCourses for  <br> Everyone: Python</p>
                <span>17 Lessons</span>
                <span>62 Students</span>
              </div>




            </div>
          </div>

          <div class="container-latest-bis">


            <div class="latest-pic">
              <img src="img/stock-full-hd-06-480x298.jpg" alt="">
              <div class="under-pc">
                <img src="img/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                <span>Blanche Fields</span>
                <p>Accademic Listening an Note- <br> taking</p>
                <span>14 Lessons</span>
                <span>67 Students</span>
              </div>




            </div>

            <div class="latest-pic">
              <img src="img/stock-full-hd-04-480x298.jpg" alt="">
              <div class="under-pc">
                <img src="img/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                <span>Blanche Fields</span>
                <p>Master Jquery in a Short Period <br> of Time</p>
                <span>6 Lessons</span>
                <span>51 Students</span>
              </div>




            </div>

            <div class="latest-pic">
              <img src="img/stock-full-hd-05-480x298.jpg" alt="">
              <div class="under-pc">
                <img src="img/73ee246daf47502812ccefc84bf02898.jpeg" alt="">
                <span>Blanche Fields</span>
                <p>Introduction for Javascript for <br> Beginners</p>
                <span>14 Lessons</span>
                <span>66 Students</span>
              </div>




            </div>

          </div>
          <div class="button-latest">
            <button class="blu"type="button" name="button">View All Courses</button>
          </div>


        </section>

        <!-- section register -->
        <section>
          <div class="container-register">
            <div class="text-build-register">

              <p>WHY HESITATE TO REGISTER ?</p>
              <span class="title-type">Learn at your  <br> Own </span><span class="word-type">Pace</span>
              <div class="under-register">

                <div class="list"><i></i><span>Select & customize courses to your preferences</span></div>
                <div class="list"><i></i><span>Change the tutor and make arrangements</span></div>
                <div class="list"><i></i><span>Participate in events to join others </span></div>
                <div class="list"><i></i><span>Get the desidered certificate delivered at house</span></div>

              </div>

              <button class="blu" type="button" name="button">Get started for free</button>

            </div>

            <div class="container-1">
              <div class="section-image-register-1">

                <img class="re-image-big"src="img/home-5-image-01.png" alt="">

                <img class="re-icon"src="img/maxcoach-shape-05.png" alt="">

              </div>

            </div>




          </div>

        </section>

        <!-- section learn mobile  -->
        <section>

          <div class="container-mobile">
            <div class="section-image-mobile">

              <img class="re-mobile-big"src="img/home-5-image-02.png" alt="">

              <img class="re-icon-mobile-left"src="img/maxcoach-shape-01.png" alt="">
              <img class="re-icon-mobile-right"src="img/maxcoach-shape-07.png" alt="">


            </div>

          </div>
          <div class="text-mobile-learn">

            <div class="text-build-register">

              <p>WHAT ARE YOU LOOKING FOR ?</p>
              <span class="title-type">Learn on your </span><span class="word-type">mobile <br> </span><span class="title-type">Anytime! </span>
              <p class="m-text
              ">Save lessons for later and revise or write notes at any time on <br> multiple devices on your way. Never interfere with activites of <br> enjoyment or other precious moments. </p>
              <button class="blu" type="button" name="button">Download our App</button>
            </div>

          </div>

        </section>

        <!-- section contact -->
        <section>
          <div class="text-build-contact">

            <p>GET IN CONTACT NOW</p>
            <span class="title-type">Upcoming</span><span class="word-type">Events</span>

          </div>

          <div class="line-box-contest">

            <div class="background-box">
              <div class="left-box-back">

                <i class="fa fa-map-marker"></i><span class="box-1">Texas,US</span>
                <p class="box-2">Storytelling Workshop</p>

              </div>
              <div class="right-box-back">

                <p class="box-3">22</p>
                <p class="box-4">NOV</p>
                <button class="box-button" type="button" name="button">Get ticket</button>

              </div>

            </div>



            <div class="background-box">
              <div class="left-box-back">

                <i class="fa fa-map-marker"></i><span class="box-1">New York,US</span>
                <p class="box-2">Painting Art Contest 2000</p>

              </div>
              <div class="right-box-back">

                <p class="box-3">10</p>
                <p class="box-4">OCT</p>
                <button class="box-button" type="button" name="button">Get ticket</button>

              </div>

            </div>


          </div>

          <div class="line-box-contest">

            <div class="background-box">
              <div class="left-box-back">

                <i class="fa fa-map-marker"></i><span class="box-1">Hamburg,Germany</span>
                <p class="box-2">International Art Fair 2020</p>

              </div>
              <div class="right-box-back">

                <p class="box-3">23</p>
                <p class="box-4">NOV</p>
                <button class="box-button" type="button" name="button">Get ticket</button>

              </div>

            </div>



            <div class="background-box">
              <div class="left-box-back">

                <i class="fa fa-map-marker"></i><span class="box-1">Illinois,US</span>
                <p class="box-2">Street performance: call for artist</p>

              </div>
              <div class="right-box-back">

                <p class="box-3">15</p>
                <p class="box-4">DEC</p>
                <button class="box-button" type="button" name="button">Get ticket</button>

              </div>

            </div>


          </div>

          <div class="line-box-contest">

            <div class="background-box">
              <div class="left-box-back">

                <i class="fa fa-map-marker"></i><span class="box-1">Illinois,US</span>
                <p class="box-2">Consumer food safety education <br> Conference</p>

              </div>
              <div class="right-box-back">

                <p class="box-3">22</p>
                <p class="box-4">JUL</p>
                <button class="box-button" type="button" name="button">Get ticket</button>

              </div>

            </div>



            <div class="background-box">
              <div class="left-box-back">

                <i class="fa fa-map-marker"></i><span class="box-1">Dubai</span>
                <p class="box-2">How meditation improve your mental <br> Health? </p>

              </div>
              <div class="right-box-back">

                <p class="box-3">22</p>
                <p class="box-4">NOV</p>
                <button class="box-button" type="button" name="button">Get ticket</button>

              </div>

            </div>


          </div>

          <div class="close-section">
            <span class="close-1">Excited about our event?</span>
            <span class="close-2">View all events</span>
            <i class="fa fa-long-arrow-right"></i>
          </div>

        </section>

        <!-- section fake carousel  -->
        <section id="back-ground">

          <div class="text-build-register">

            <div class="text-build-dream">

              <p>PEOPLE ARE PRAISING MAXCOACH</p>
              <span class="title-type">What make they </span><span class="word-type">Love Us?</span>

            </div>
              <div class="container-carousel">
                <div class="card-carousel">
                  <img src="img/testimonial-avata-02.jpg" alt="">
                  <p>I'am a free to learn at own pace, <br>
                   follow my own schedule and choose <br>
                   the subject il like. Great study portal <br>
                    for people like me.
                  </p>
                  <h5>MINA HOLLANCE</h5>
                  <p class="last-carousel">/ Freelancer</p>


                </div>

                <div class="card-carousel">
                  <img src="img/testimonial-avata-04.jpg" alt="">
                  <p>MaxCoach is my best choice. <br>
                    Their tutors smart and professional <br>
                     when dealing with students.
                  </p>
                  <h5>MADLEY PONDOR</h5>
                  <p class="last-carousel">/ It specialist</p>


                </div>

                <div class="card-carousel">
                  <img src="img/testimonial-avata-01.jpg" alt="">
                  <p>I'am happy with their arrangement of <br>
                    lessons and subjects. They reflect a <br>
                    scientif investigation.
                  </p>
                  <h5>LUVIC DUBBLE</h5>
                  <p class="last-carousel">/Privete tutor</p>


                </div>

              </div>
              <!-- ball -->
              <div class="ball-carousel">

                <span class="dot-1"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>

              </div>


        </section>

        <!-- section last main -->
        <section id="online-back">
          <div class="online-section">
            <span class="text-online-1">Start today for getting</span><span class="text-online-2">Online certification</span>
            <p>You can be your own guiding star with our help!</p>
            <button class="button-online" type="button" name="button">Get started now</button>

            <img class="image-online-1" src="img/maxcoach-shape-01.png" alt="">
            <img class="image-online-2" src="img/maxcoach-shape-02.png" alt="">
          </div>
        </section>




      </main>

      <!-- inizio footer -->
      <footer>

        <div class="container-footer">
          <!-- section left -->
          <div class="address">

            <h2>Address</h2>
            <p>{{address}}</p>
            <p>{{telephone}}</p>
            <p>{{email}}</p>

            <div class="icon" v-for="social in infoSocial">
              <a :href="social.href"> <i :class="social.icon"></i> </a>
            </div>


          </div>
          <!-- section centre -->
          <div class="explore">

            <h2>Explore</h2>

            <div v-for="link in explore" class="text-ex">
              <a :href="link.href">{{link.link}}</a>
            </div>

          </div>
          <!-- section right -->
          <div class="information">

            <h2>Information</h2>

            <div v-for="link in information" class="text-info">
              <a :href="link.href">{{link.link}}</a>
            </div>

          </div>

          <!-- button -->
          <div class="button-up">
            <a href="#"><i class="fas fa-arrow-up"></i></a>
          </div>


        </div>

      </footer>

    </div>


    <script src="js/script.js"></script>
  </body>
</html>
